@charset "UTF8";
* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 96vh;
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
    padding-top: 20px;
}

h1#titulo {
    text-align: center;
    color: black;
}

div#corpo {
    background-color: white;
    margin: auto;
    max-width: 500px;
    max-height: 500px;
    padding: 20px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p#dnome {
    padding-top: 100px;
    font-size: 2em;
}

input#inome {
    height: 35px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #000000;
}

p#inicial {
    padding-top: 50px;
    text-align: center;
    font-size: 1.5em;
}

button#iinicial {
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-image: url("../img/seta.png");
    background-repeat: no-repeat;
    background-size: 35px;
    background-position: center center;
    cursor: pointer;
    padding: 35px;
    background-color: aqua;
}

button#iinicial:hover {
    transform: scale(1.05);
    transition: all 0.5s ease;
}